{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>nanananananaanananana</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure excepturi saepe aliquam unde aut maiores dolore accusamus consectetur eaque nihil repellendus enim ipsam rerum, quas ea commodi quos doloremque eum!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/logo.png" class="img-thumbnail">
    </div>
</div>

{{>footer}}